 .animated-object {
  height: 100px;
  width: 100px;
  border-radius: 20%;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 20px;
  }

.animateObject {
-webkit-animation: moveObject 1s;
animation: moveObject 1s;
animation-fill-mode: forwards; 
}

@keyframes moveObject {
    100% {margin-left: 206px}
}
@-webkit-keyframes moveObject {
    100% {margin-left: 206px}
}

/* objects begin  */
.object1{
    background: black;
}

.object2{
    background: red;
}

.object3{
    background: green;
}

.object4{
    background: purple;
}
/* objects end  */

#start-button {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  }

.line{
    background: blue;
    padding: 5px;
    width: 1px;
    height: 400px;
    position: absolute;
    margin-left: 150px;
}