/* ---------MARGIN CLASSES----------- */

/* .space-small{
    margin: 10px;
} */
.x-space{
    margin: 0px 20px 0px 20px;
}
.x-space-small{
    margin: 0px 10px 0px 10px;
}

/* ---------PADDING CLASSES----------- */

.padded{
    padding: 30px;
}

.padded-small{
    padding: 10px;
}

.x-padded-xlarge{
    padding: 0px 100px 0px 100px;
}

.y-padded-xlarge{
    padding: 50px 0px 50px 0px;
}

/* ---------GENERAL CLASSES----------- */

a{
    text-decoration: none;
    font-weight: bolder;
    color: #001236;
    transition: .4s;
}

a:hover{
    filter: opacity(85%);
    transition: .4s;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.no-style{
    text-decoration: none;
}

.blue-bg{
    background-color: #052460;
}

.orange-bg{
    background-color: #FFA879;
}

body{
    color: #112C6D;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    color: #052460;
    font-weight: 600;
}

h2{
    padding-bottom: 25px;
}

h3{
    padding-bottom: 15px;
}

.text-white{
    color: white !important;
}

.text-orange{
    color: #FFA879 !important;
}

.text-muted{
    color: #425781 !important;
}
/* ---------NAV BAR----------- */

.navbar{
    padding: 20px;
}

.navbar a{
    font-size: 16px;
    font-weight: bold;
}

.sm-link:hover{
    filter: opacity(85%);
    transition: .4s;
}

/* ---------CARDS----------- */

.card-img-top{
    width: 70%;
    margin: auto;
}

.card{
    padding: 0px;
    border-radius: 25px;
    overflow: hidden;
    border: 0px;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.card-title{
    font-family: 'Archivo', sans-serif;
    /* text-transform: uppercase; */
    font-weight: bolder;
    letter-spacing: .5px;
    font-size: 16px;
}

.card-subtitle{
    font-weight: 400;
}

.project:hover{
    transform: scale(1.1);
    transition: .3s;
}

.project{
    transition: .3s;
}

.job{
    background: none;
    margin: none;
}

/* ---------FORMS----------- */

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ffc3a1; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    background-color: #ffffff;
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #052460;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .4s;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #000a1f;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #fff1e9;
    padding: 20px;
  }




  .project-title{
    font-family: 'Archivo', sans-serif;
    /* text-transform: uppercase; */
    font-weight: bolder;
    letter-spacing: .5px;
    font-size: 20px;
}

/* MEDIA QUERIES ----------- */


@media only screen {
    .x-padded-xlarge{
        padding: 0px 400px 0px 400px;
    }
}

@media only screen and (max-width: 1800px) {
    .x-padded-xlarge{
        padding: 0px 150px 0px 150px;
    }
}

@media only screen and (max-width: 1080px){
    .x-padded-xlarge{
        padding: 0px 100px 0px 100px;
    }
    .center{
        width: 70%;
    }
}

@media only screen and (max-width: 750px){
    .x-padded-xlarge{
        padding: 0px 50px 0px 50px;
    }
    .y-padded-xlarge{
        padding: 43px 0px 43px 0px;
    }
    .card-title {
        font-size: 18px;
    }
    .center{
        width: 100%;
    }
}

@media only screen and (max-width: 490px){
    .x-padded-xlarge{
        padding: 0px 35px 0px 35px;
    }
    .y-padded-xlarge{
        padding: 33px 0px 33px 0px;
    }
    .card-title {
        font-size: 18px;
    }
    .center{
        width: 100%;
    }
}

