/*------------------------GENERAL SELECTORS--------------------------*/
body {
    margin: auto;
    font-family: 'Lato', serif;
    max-width: 1980px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Fredoka One', sans-serif;
    font-weight: normal;
    margin: 0;
  }
h1{ 
    font-size: 42px;
    letter-spacing: 3px;
    margin:0;
    color: white;
}
h2 {
    font-size: 32px;
    letter-spacing: 2px;
}
h3 {
    letter-spacing: 1px;
    font-size: 24px;
}
p{
    font-size: 18px;
    margin-bottom: 25px;
}
a{
    text-decoration: none;
    font-family: 'Fredoka One', sans-serif;
    transition: .2s;
}
ul{
    padding: 0;
}
/*-----------------------Navbar-----------------------------*/
nav { 
    display: flex;
    padding: 5px 20px;
}
a.navlink{ 
    font-size: 12px;
    letter-spacing: 1px;
    padding-left: 20px;
    color: black;
}
a.navlink:hover{ 
    color: #0055ff;
}
#logo { 
    margin-top: 5px;
    max-height: 30px;
}
#nav {
    margin: auto;
    background-color: white;
}
#navlinks {
    display: flex;
    margin: auto;
    margin-right: 1px;
    background-color: white;
}
/*----------------------------Footer-----------------------------*/
footer{
    background-color: #000F28;
}
.footertext{ 
    font-family: 'Fredoka One', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    padding-left: 20px;
    color: white;
}
a.footertext:hover{ 
    color: #FAAA61;
}
#footerlinks {
    display: flex;
    margin: auto;
    padding: 25px;
}
/*----------------------------INDEX-----------------------------*/
#webportfolio{
    color: #FAAA61;
}
.mainheader { 
    display: flex;
    padding: 75px 75px;
    background: #093B4D linear-gradient(180deg, rgba(0,39,51,1) 0%, rgba(0,71,92,1) 100%);
    background-image: url("images/linebackground.svg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100px;
    max-height: 300px;
    margin: auto;
}
#minime { 
    position: relative;
    top: .5em;
    min-width: 15em;
    padding-right: 75px;
}
#intro{ 
    padding-bottom: 20px;
    font-size: 24px;
    line-height: 40px;
}
a#calltoaction {
    transition: 0s;
    vertical-align: baseline;
    border-radius: 5px;
    letter-spacing: 1px;
    font-size: 24px;
    padding: 5px 40px;
    margin: 0px;
    border-bottom: solid 10px #E57611;
    background-color: #FAAA61;
}
a#calltoaction:active {
    position: relative;
    top: 5px;
    border-bottom: solid 5px #E57611;
}
#tabletimage{
    padding: 0px;
    max-width: 650px; 
}
#tabletcolumn{
  padding: 0px;
  padding-left: 20px;
}
#cardlogo{
    max-height: 30px;
    margin-left: 40%;
}
#socialrow{
    padding: 0px;
    margin-top: 30px;
}
.socialicon{
    margin-right: 20px;
    background-color: #052460;
    border: #052460 solid 7px;
    border-radius: 40%;
    max-height: 32px;
}
#contactcard{
    background-color: #ffead6;
    width: 440px;
    margin-left: 0px;
    padding-bottom: 15px;
    border-bottom: solid 7px #FAAA61;
}
#contactitem{
    background-color: #ffffff;
    border-top: solid 4px #FAAA61;
}
/*----------------------------ABOUT-----------------------------*/
a.storylink {
    vertical-align: baseline;
    color: #FAAA61;
    letter-spacing: 2px;
    font-size: 24px;
    border-bottom: solid 5px #FAAA61;
    padding-bottom: 5px;
    margin-right: 15px;
}
a.storylink:hover {
    color: #fff; 
}
#portrait{
    max-height: 400px;
}
#courseheader{
    margin-top: 50px;
}
ul#courselist{
    font-size: 18px;
    margin-bottom: 25px;
}
li#course{
    font-weight: bolder;
    padding: 2px;
    border-bottom: solid 1px #05236052;
}
dl#coursedesc{
    padding-bottom: 5px;
}
#portrait{
    margin:0;
    padding:0;
}
#transparentme{
    display: block;
    margin: auto;
    height: 450px;
    position: relative;
    top: 20px;
}
#aboutheader{
    background-color: #000F28;
    padding-left: 60px;
    padding-bottom: 20px;
    border-radius: 0px 0px 400px 0%;
    overflow: hidden;
}
#aboutintro{
    padding-top: 50px;
}
/*----------------------------PROJECTS-----------------------------*/
#projectsintro{
    text-align: center;
    padding: 20px;
}
#projects{
    padding: 10px 75px 50px 75px;
}
#project1{
    background-image: url(images/brandthumbnail.png);
}
div#projects > .row {
    flex-wrap: wrap;
    flex: 1 1 auto;
    padding: 0px 20px 0px 20px;
    justify-content: center;
    align-items: center;
}
.project{
    display: table;
    position: relative;
    margin: 25px;
    border-radius: 8%;
    background-color: #ad5400;
    text-align: center;
    min-width: 18rem;
    min-height: 20rem;
    transition: .4s;
}
.title{
    position: relative;
    color: white;
    display: table-cell;
    vertical-align: middle;
    z-index: 9;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;            
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
    border-radius: 8%;
    background: #ad5400;
    opacity: .85;
  }
.project:hover{
    z-index: 99;
    transform: scale(1.15);
  }

/*----------------------------Universal Classes-----------------------------*/
a.link {
    vertical-align: baseline;
    color: black;
    letter-spacing: 1px;
    font-size: 18px;
    border-bottom: solid 5px #0055ff;
    margin-right: 15px;
}
a.link:hover {
    color: #0049da; 
}
.white { 
    color: #FFFFFF;
}
.offwhite { 
    color: #BACBCF;
}
.offblack { 
    color: #3E3E3E;
}
.orange { 
    color: #E57611;
}
.black {
    color: #1b1b1b;
}
.darkblue {
    color: #052460;
}
.table {
    padding: 50px;
}
.row {
    display: flex;
    padding: 10px;
  }
  
.column {
    flex: 50%;
    padding: 25px;
  }
.pageheader { 
    display: flex;
    padding: 25px 25px;
    background: #000F28;
    background-image: url("images/linebackground.svg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50px;
    margin: auto;
}
.pagetitle{
    margin: auto;
    color: #fff;
}
.card{
    margin: auto;
    margin-bottom: 25px;
    border-radius: 30px;
    padding: 30px;
    background-color: #FAAA61;
    border-bottom: solid 7px #E57611;
    max-width: 500px;
}
.carditem{
    display: inline-block;
    border-radius: 12px;
    padding: 5px 20px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #ffcfa1;
    border-top: solid 4px #E57611;
    color: #052460;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;  
    letter-spacing: 1px;
    font-size: 18px;
}
.morebottomspace{
    margin-bottom: 40px;;
}
/*----------------------------404-----------------------------*/
#error{
    margin: auto;
    text-align: center;
    padding: 20px;
}
/*----------------------------Media Queries-----------------------------*/

@media only screen and (max-width: 1280px) and (min-width: 768px) {
    h1{ 
        font-size: 38px;
    }
    h2 {
        font-size: 28px;
    }
    h3 {
        font-size: 20px;
    }
    p{
        font-size: 16px;
    }
    p#intro{ 
        padding-bottom: 10px;
        font-size: 18px;
        line-height: 30px;
    }
    a#calltoaction {
        vertical-align: baseline;
        font-size: 22px;
        padding: 5px 40px;
    }
    #tabletcolumn{
        padding-top: 5%;  
      }
    
    .carditem{
        border-radius: 8px;
        padding: 3px 15px;
        margin-right: 8px;
        margin-top: 8px;
        line-height: 25px;  
        letter-spacing: 1px;
        font-size: 16px;
    }
    #cardlogo{
        margin-left: 150px;
    }
}
@media only screen and (max-width: 900px){
    .row{
        flex-wrap: wrap;
    }
    .mainheader{
        flex-wrap: wrap;
    }
    #welcome{
        margin-top: 50px;
    }
    #contactcard{
        position: relative;
        right: 65px;
        transform: scale(.75)
    }
    #footerlinks{
        flex-wrap: wrap;
    }
    .link{
        line-height: 30px;
    }
    .mainheader{
        max-height: 900px;
    }
}