/*-----------GENERAL------------*/
body {
    margin: auto;
    font-family: 'Lato', serif;
    max-width: 1980px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Fredoka One', sans-serif;
    font-weight: normal;
    margin: 0;
  }
h1{ 
    font-size: 42px;
    letter-spacing: 3px;
    margin:0;
    color: white;
}
h2 {
    font-size: 32px;
    letter-spacing: 2px;
}
/*---------Navbar---------------*/
nav { 
    display: flex;
    padding: 5px 20px;
}
a.navlink{ 
    font-size: 12px;
    text-decoration: none;
    font-family: 'Fredoka One', sans-serif;
    letter-spacing: 1px;
    padding-left: 20px;
    color: black;
}
a.navlink:hover{ 
    color: #0055ff;
}
#logo { 
    margin-top: 5px;
    max-height: 30px;
}
div#nav {
    margin: auto;
    background-color: white;
}
div#navlinks {
    margin: auto;
    margin-right: 1px;
    background-color: white;
}
/*--------------Footer---------------*/
footer{
    background-color: #000F28;
    height: 80px;
}
.footertext{ 
    font-size: 15px;
    text-decoration: none;
    font-family: 'Fredoka One', sans-serif;
    letter-spacing: 1px;

    padding-left: 20px;
    color: white;
}
a.footertext:hover{ 
    color: #FAAA61;
}
div#footerlinks {
    margin: auto;
    padding: 25px;
}
/*--------------INDEX---------------*/
#webportfolio{
    color: #FAAA61;
}
#iconfloat{
    position: fixed;
    right: 5px;
    bottom: 10px;
    z-index: 1;
    background-color: #000F28;
    border-radius: 50%;
    padding: 10px;
    width: 32px;
    height: 32px;
}
#linkedin{
    float: right;
    border-radius: 40%;
    max-height: 32px;
}
.mainheader { 
    display: flex;
    padding: 75px 75px;
    background: #093B4D linear-gradient(180deg, rgba(0,39,51,1) 0%, rgba(0,71,92,1) 100%);
    background-image: url("images/linebackground.svg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100px;
    margin: auto;
    margin-bottom: 25px;
}
#minime { 
    min-width: 25%;
    max-width: 22%;
    height: 100%;
    padding-right: 75px;
}
p#intro{ 
    padding-bottom: 20px;
    font-size: 24px;
    line-height: 40px;
}
a#calltoaction {
    vertical-align: baseline;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Fredoka One', sans-serif;
    letter-spacing: 1px;
    font-size: 24px;
    padding: 5px 40px;
    margin: 0px;
    border-bottom: solid 10px #E57611;
    background-color: #FAAA61;
}
a#biglink {
    vertical-align: baseline;
    text-decoration: none;
    font-family: 'Fredoka One', sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
    border-bottom: solid 5px #0055ff;
}
a#calltoaction:active {
    position: relative;
    top: 5px;
    border-bottom: solid 5px #E57611;
}
a#biglink:hover {
    color: #0049da; 
}
p#intro2{
    font-size: 18px;
    margin-bottom: 25px;
}
#tabletimage{
    position: relative;
    right: 0;
    padding-top: 50px;
    padding-bottom: 30px;
}
/*--------------ABOUT---------------*/
.skillcard{
    position: relative;
    right: 1px;
    margin-right: 50px;
    margin-bottom: 25px;
    border-radius: 30px;
    padding: 30px;
    background-color: #FAAA61;
    border-bottom: solid 5px #E57611;
    max-width: 450px;
}
.carditem{
    display: inline-block;
    border-radius: 12px;
    padding: 5px 20px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #ffd7b1;
    border-top: solid 3px #E57611;
    color: #052460;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;  
    letter-spacing: 1px;
    font-size: 18px;
}
/*--------------Universal Classes---------------*/
div.plainbox{
    padding: 25px 50px 25px 50px;
}
.white { 
    color: #FFFFFF;
}
.offwhite { 
    color: #BACBCF;
}
.offblack { 
    color: #3E3E3E;
}
.pink { 
    color: #E57611;
}
.black {
    color: #000;
}
.darkblue {
    color: #052460;
}
.row {
    display: flex;
    padding-bottom: 25px;
  }
  
.column {
    flex: 50%;
    padding: 50px;
    padding-right: 0px;
  }
.pageheader { 
    display: flex;
    padding: 25px 25px;
    background: #093B4D linear-gradient(180deg, rgba(0,39,51,1) 0%, rgba(0,71,92,1) 100%);
    background-image: url("images/linebackground.svg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50px;
    max-width: 1500px;
    margin: auto;
}
/*--------------Media Queries---------------*/
@media screen and (max-width: 1120px) {
    h1#welcome { 
        font-size: 32px;
        margin:0;
        color: white;
    }
    p#intro{ 
        padding-bottom: 20px;
        font-size: 18px;
    }
    a#calltoaction {
        vertical-align: baseline;
        text-decoration: none;
        font-size: 18px;
        padding: 5px 40px;
    }
}