.PN-Black{
    font-family: proxima-nova, sans-serif;
    font-weight: 900;
}
.PN-EBold{
    font-family: proxima-nova, sans-serif;
    font-weight: 800;
}
.PN-Bold{
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
}
.PN-SBold{
    font-family: proxima-nova, sans-serif;
    font-weight: 600;
}
.PN-Med{
    font-family: proxima-nova, sans-serif;
    font-weight: 500;
}
.PN{
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
}
.PN-Light{
    font-family: proxima-nova, sans-serif;
    font-weight: 300;
}
.PN-Thin{
    font-family: proxima-nova, sans-serif;
    font-weight: 100;
}
.white{
    color: #ffffff;
}
.orange{
    color: #EFAC6D;
}